/* Add in all colouring to elements up here */

/* Colouring for light mode */
@media (prefers-color-scheme: light) {
    h5 {color:rgb(76, 76, 76);}
    hr {background-color:rgba(76, 76, 76,0.20);}
    #create {color:rgb(76, 76, 76);}
    #save {color:rgb(76, 76, 76);}
    #close {color:rgb(76, 76, 76);}
    #openApp {color:rgb(76, 76, 76);}
    #currentWorkspace{color: black;}
    #toolbarList{color: black;}
  }

/* Colouring for dark mode */
@media (prefers-color-scheme: dark) {
    h5 {color:rgb(165, 165, 165);}
    hr {background-color:rgba(165, 165, 165,0.20);}
    #create {color:rgb(165, 165, 165);}
    #save {color:rgb(165, 165, 165);}
    #close {color:rgb(165, 165, 165);}
    #openApp {color:rgb(165, 165, 165);}
    #currentWorkspace{color: rgb(210,210,210)}
    #toolbarList{color: rgb(210,210,210)}
  }



html, body {
    width: auto;
    height: auto;
    margin: 0 auto;
}

button {
    cursor: pointer;
}

.controls {
    margin: 3% 3%;
}

.action {
    width: 40%;
    margin: 3% 3% 3% 3%;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
    cursor: pointer;
}

.actionSwitch {
    margin: 0 3% 3% 3%;
    width: 90%;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
    width: 94%;
    margin: 3% 3% 3% 3%;
    border-width: 0px;
    user-select: none;
    border-width: 0px;
    outline: none;
}

ul li {
    margin: 0 0 0 0;
    text-align: left;
    padding-bottom: 3px;
    padding-top: 3px;
    padding-left: 15px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
    border-radius: 5px;
    outline: none;
}

ul li:hover {
    background-color: rgba(132, 130, 130,0.25);
}

li {
    cursor: pointer;
    user-select: none;
  }

h5 {
    user-select: none;
    margin: 0 0 0 0;
    padding-left: 15px;
    font-size: 12px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    width:60%;
}

hr {
    border: 0;
    clear:both;
    display:block;
    width: 90%;
    height: 1px;
    padding: 0 0 0 0;
  }

#create{
    float: right;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 10px;
    padding-top: 1px;
    padding-bottom: 0px;
    background-color: Transparent;
    border-color: none;
    border-width: 0px;
    border-radius: 20px;
    font-size: 20px;
    text-align: center;
  }
  
#create:hover {
    background-color: rgba(132, 130, 130,0.25);
}

#save{
    float: right;
    height: 24px;
    margin-top: 8.188px;
    margin-bottom: 0px;
    margin-right: 5px;
    padding-top: 0px;
    padding-bottom: 1px;
    background-color: Transparent;
    border-color: none;
    border-width: 0px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 20px;
}

#save:hover {
    background-color: rgba(132, 130, 130,0.25);
}

#close{
    float: right;
    margin-top: 8.188px;
    margin-bottom: 0px;
    margin-right: 10px;
    padding-top: 1px;
    padding-bottom: 0px;
    background-color: Transparent;
    border-color: none;
    border-width: 0px;
    border-radius: 20px;
    font-size: 20px;
    text-align: center;
}

#close:hover {
    background-color: rgba(132, 130, 130,0.25);
}

#currentWorkspace{
    text-align: left;
    padding-bottom: 0px;
    padding-top: 3px;
    padding-left: 15px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
    user-select: none;
    margin: 8.188px 3% 3% 3%;
    display: inline-block;
}

#openApp{
    float: right;
    margin-top: 3px;
    margin-bottom: 0px;
    margin-right: 12px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: Transparent;
    border-color: none;
    border-width: 0px;
    font-size: 15px;
    cursor: pointer;
}

#workspacesHeader{
    display: inline-block;
}