html, body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

button {
    cursor: pointer;
}

.controls {
    margin: 3% 3%;
}

.action {
    width: 40%;
    margin: 3% 3% 3% 3%;
    cursor: pointer;
}

.actionSwitch {
    margin: 3% 3% 3% 3%;
    width: 90%;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
    width: 90%;
    margin: 3% 3% 3% 3%;
}

ul li {
    margin: 0 0 0 0;
    padding-left: 15px;
    text-align: left;
    padding-bottom: 5px;
    border-top: 1px solid grey;
}

ul li:hover {
    background-color: rgb(245, 245, 245);
}

li:focus {
    background-color: rgb(245, 245, 245);
}

li {
    cursor: pointer;
    user-select: none;
  }