#home{
    width: 100%;
}

#left{
    float: left;
    width: auto;
    height: auto;
}

#create_project{
    float: right;
    width: auto;
    height: auto;
    display: none;
    overflow: scroll;
}

#display_project{
    float: right;
    width: auto;
    height: auto;
    display: none;
    overflow: scroll;
}

table {
    border: 1px solid black;
    table-layout: fixed;
    width: 500px;
  }
  
  td {
    width: 350px;
    overflow: hidden;
  }
  td+td {
    width: auto;
  }