#home{
    width: 100%;
}

#left{
    float: left;
    width: auto;
    height: auto;
}

#create_project{
    float: right;
    width: auto;
    height: auto;
    display: none;
    overflow: scroll;
}

#display_project{
    float: right;
    width: auto;
    height: auto;
    display: none;
    overflow: scroll;
}

table {
    border: 1px solid black;
    table-layout: fixed;
    width: 500px;
  }
  
  td {
    width: 350px;
    overflow: hidden;
  }
  td+td {
    width: auto;
  }

  .multiselect {
    width: 200px;
  }
  
  .selectBox {
    position: relative;
  }
  
  .selectBox select {
    width: 100%;
    font-weight: bold;
  }
  
  .overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  
  #checkboxes-apps, #checkboxes-urls, #checkboxes-apps-display {
    display: none;
    border: 1px #dadada solid;
  }
  
  #checkboxes-apps label, #checkboxes-urls label, #checkboxes-apps-display label {
    display: block;
  }
  
  #checkboxes-apps label:hover, #checkboxes-urls label:hover, #checkboxes-apps-display label:hover {
    background-color: #1e90ff;
  }
  
ul {
    list-style-type: none;
    padding: 0;
    width: 90%;
    margin: 3% 3% 3% 3%;
}
  
ul li {
    margin: 0 0 0 0;
    padding-left: 15px;
    text-align: left;
    padding-bottom: 5px;
    border-top: 1px solid grey;
}

ul li:hover {
    background-color: rgb(245, 245, 245);
}

li:focus {
    background-color: rgb(245, 245, 245);
}